<!-- Design inspired from https://www.hotjar.com/ -->
<div  class="jumbotron">
    <div class="container text-center text-lg-left">
      
      <div class="row">
  <div class="col-md-9">
    <div class="row">
  <h2>A better way</h2>
</div>
        <div class="row">
              <h2 >to connect.</h2>
            </div>
        </div>
        <div class="col-md-3">
          <!-- <div class="talk-bubble tri-right round border right-top">
            <div class="talktext">
              <p>Use this management tool to organize zoom meeting calls, or find ones you'd like to be a part of.</p>
            </div>
          </div> -->
<div class="chat">
  <div class="mine messages">
    <div class="message last">
      Dude
     </div>
  </div>
  <div class="yours messages">
    <div class="message">
      Hey!
    </div>
    <div class="message">
      Let's have a Zoom meeting call?
    </div>
    <div class="message last">
      Like with everyone
    </div>
  </div>
  <div class="mine messages">
    <div class="message">
      Oh!
    </div> 
    <div class="message last">
      Cool, let's do it!
     </div>
  </div>
</div>
        </div>
      </div>
      </div>
